In [33]:
import pandas as pd #membaca data
df = pd.read_csv("decisiontree.csv")
df.head()

   ID   mesin  bangku penggerak    label
0   1  bensin       4     depan    sedan
1   2  bensin       2     depan    sedan
2   3  bensin       8  belakang  minibus
3   4  diesel       6     depan  minibus
4   5  bensin       5  belakang  minibus

In [34]:
import sklearn.model_selection as ms #transformasi feature
encoding = {"mesin" : {"bensin" : 0, "diesel" : 1}, "penggerak" : {"depan" : 0, "belakang" : 1}}
df.replace(encoding, inplace=True)
print(df)

    ID  mesin  bangku  penggerak    label
0    1      0       4          0    sedan
1    2      0       2          0    sedan
2    3      0       8          1  minibus
3    4      1       6          0  minibus
4    5      0       5          1  minibus
5    6      1       8          1  minibus
6    7      1       8          1  minibus
7    8      0       4          0    sedan
8    9      1       7          1  minibus
9   10      0       4          0    sedan
10  11      0       2          0    sedan
11  12      1       6          1  minibus
12  13      1       8          0  minibus
13  14      0       4          0    sedan
14  15      1       2          0    sedan
15  16      0       4          0    sedan
16  17      0       8          1  minibus
17  18      0       4          0    sedan
18  19      1       8          1  minibus
19  20      1       8          1  minibus
20  21      0       4          0    sedan
21  22      0       4          0  minibus
22  23      1       8          1  minibus
23  24      0       4          0    sedan
24  25      0       5          1  minibus
25  26      0       4          0  minibus
26  27      1       8          1  minibus
27  28      0       4          0    sedan
28  29      0       7          1  minibus
29  30      0       4          0    sedan
30  31      0       4          0    sedan
31  32      0       2          0    sedan
32  33      0       8          1  minibus
33  34      1       6          0  minibus
34  35      0       5          1  minibus
35  36      1       8          1  minibus
36  37      1       4          1  minibus
37  38      0       4          0    sedan
38  39      1       5          1  minibus
39  40      0       4          0    sedan

In [35]:
X = df.drop(['ID', 'label'], axis = 1)
y = df['label']

In [36]:
X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size = 0.2, random_state = 0) #membagi data training dan data testing

In [37]:
import sklearn.tree as tree #model dengan kriteria entropy
model = tree.DecisionTreeClassifier(criterion = 'entropy', max_depth = 5)
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [38]:
y_prediksi = model.predict(X_test)
print(y_prediksi)

['minibus' 'sedan' 'sedan' 'minibus' 'sedan' 'sedan' 'minibus' 'minibus']

In [39]:
import sklearn.metrics as met
print(met.accuracy_score(y_test, y_prediksi))

0.875

In [40]:
import sklearn.tree as tree #model dengan kriteria gini
model1 = tree.DecisionTreeClassifier(criterion = 'gini', max_depth = 5)
model1.fit(X_train, y_train)

y_prediksi1 = model.predict(X_test)
print(y_prediksi1)

import sklearn.metrics as met
print(met.accuracy_score(y_test, y_prediksi1))

['minibus' 'sedan' 'sedan' 'minibus' 'sedan' 'sedan' 'minibus' 'minibus']
0.875

In [42]:
import pydotplus as pp
labels = ['mesin', 'bangku', 'penggerak']
dot_data = tree.export_graphviz(model, out_file = None, feature_names = labels, filled = True, rounded = True)
graph = pp.graph_from_dot_data(dot_data)
graph.write_png('decisiontree.png')

True